(% extends "layout.html" %)

<b>This is an old project... you should use the <code>tcinit</code> command which is part of the <a href="https://github.com/ThreatConnect-Inc/tcex">TCEX</a> package.</b>

(% block content %)
<div class="row">
    <h1>Create a TCEX app</h1>

    <br>

    (% with messages = get_flashed_messages(with_categories=true) %)
      (% if messages %)
        (% for category, message in messages %)
          <span class="(( category ))">(( message ))</span>
        (% endfor %)
        <br><br><br>
      (% endif %)
    (% endwith %)

    <form action="(( url_for('get_app_details') ))">
        <label>App name:</label>
        <input id="app-name" type="text" name="appName" placeholder="Enter the name of your new app..." value="(( app_name ))">

        <label>App description:</label>
        <textarea name="appDescription" placeholder="Enter a description for this app..." rows=10>(( app_description ))</textarea>
        <br>

        <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="If this app is a playbook app, leave this unchecked. Otherwise, check this box to package the app as a jobs app (a.k.a. 'organization app')."><label style="display: inline;">Package as a jobs (a.k.a. 'Organization') app: &nbsp;</label></span><input type="checkbox" name="jobsApp">
        <br><br>

        <input class="button blue" type="submit" name="Submit">
    </form>
</div>

<script type="text/javascript">
    $('#app-name').focus();
    $(document).foundation();
</script>
(% endblock %)