(% extends "layout.html" %)
(% block content %)
<div id="content" class="row">
    <div class="phase columns large-6">
        <h2>Input Parameters</h2>
        <new-input></new-input>
        <div v-for="parameter in parameters">
            {{ parameter }}
        </div>
    </div>
    <!-- <div class="phase columns large-6">
        <h2>Logic</h2>
        <textarea placeholder="Enter the code you would like the app to perform..."></textarea>
    </div> -->
    <div class="phase columns large-6 float-right">
        <h2>Output Variables</h2>
        <new-output></new-output>
        <div v-for="outputVariable in outputVariables">
            {{ outputVariable }}
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <form action="(( url_for('tcex') ))" class="float-right">
            <input type="input" name="parameters" :value="JSON.stringify(parameters)" hidden="hidden" >
            <input type="input" name="outputVariables" :value="JSON.stringify(outputVariables)" hidden="hidden"/>
            <input type="input" name="appName" value="(( app_name ))" hidden="hidden"/>
            <input class="button float-right" type="submit" name="submit">
        </form>
    </div>
</div>
<script type="text/javascript" src="(( url_for('static', filename='playbookAppCreator.js') ))"></script>
<script type="text/javascript">
    $.jGrowl.defaults.closer = false;
    $(document).foundation();
    $('#name-field').focus();
</script>
(% endblock %)