(% extends "layout.html" %)
(% block content %)
<div class="row">
    <h1>Welcome!</h1>

    <br>

    (% with messages = get_flashed_messages(with_categories=true) %)
      (% if messages %)
        (% for category, message in messages %)
          <span class="(( category ))">(( message ))</span>
        (% endfor %)
        <br><br><br>
      (% endif %)
    (% endwith %)

    <form action="(( url_for('get_app_details') ))">
        <input id="app-name" type="text" name="appName" placeholder="Enter the name of your new app...">
        <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Currently, this system only allows you to package an app as a playbook app, but the ability to create a job app is coming soon!"><label style="display: inline;">Package as a playbook app: &nbsp;</label></span><input type="checkbox" name="playbook" checked disabled>
        <br><br>
        <input class="button blue" type="submit" name="Submit">
    </form>
</div>

<script type="text/javascript">
    $('#app-name').focus();
    $(document).foundation();
</script>
(% endblock %)