{
  "allowOnDemand": true,
  "displayName": "abc",
  "languageVersion": "3.6",
  "listDelimiter": "|",
  "note": "abc",
  "params": %s,
  "playbook": {
    "outputVariables": %s,
    "retry": {},
    "type": "Client"
  },
  "programLanguage": "python",
  "programMain": "%s",
  "programVersion": "1.0.0",
  "repeatingMinutes": [],
  "runtimeLevel": "Playbook"
}