<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>TCEX App Creator</title>
    <meta name="description" content="ThreatConnect TCEX App Creation UI">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.6/jquery.jgrowl.min.css">
    <link rel="stylesheet" href="./static/playbook_app_creator.css">

    <!-- SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.6/jquery.jgrowl.min.js"></script>
</head>

<body class="light">
    <div class="top-bar blue">
        <div class="top-bar-left">
            <a class="blue" href="http://tcex.hightower.space/"><b>TCEX App Creation UI</b></a> - Create a ThreatConnect Exchange App!
        </div>
    </div>

    <br>

    (% block content %)(% endblock %)

    <footer class="large-12 dark">
        Designed and written by <a href="https://hightower.space">Floyd Hightower</a>.

        <span class="float-right">
            View code on <a href="https://github.com/fhightower/tcex-app-creation-ui">Github</a>.
        </span>
    </footer>
</body>

